body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
    background-color: #000;
    color: #fff;
}

/* Light Mode */
.light-mode {
    background-color: #fff;
    color: #000;
}

button {
    padding: 10px 15px;
    border: 1px solid #ccc;
    cursor: pointer;
}